.phonemenu {
  display: none;
}

@media screen and (max-width: 500px) {
  .phonemenu {
    display: block;
  }

  body>header>nav {
    margin: 0;
  }
}

.toggle {
  border: none;
  background-color: #50c878;
  border-radius: 0.5rem;
  display: block;
  width: 80%;
  margin: 0.25rem auto;
  padding: 0.5rem;
}

.toggle:active {
  border: 2px solid white;
}


.phone {
  display: none;
  text-align: center;
}

.phone>li>a {
  color: #50c878;
  border-right: 2px solid #50c878;
  border-bottom: 2px solid #50c878;
  border-radius: 5rem;
  width: 100%;
  display: block;
  padding: 0.4rem;
  margin-top: 1rem;
}

.active {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 500;
  background-color: black;
}

.show {
  display: block;
}

.overflowyhidden {
  overflow-y: hidden;
}